/* Estilos nativos */
.bdcreada{
	margin-top: 200px;
	text-align: center;
	font-size: 1.4em;
	color: #0003A2;
	font-style: oblique;
}
.titulo{
	text-align: center;
	margin-top: 60px;
	
	
}

.logo{
	width: 100%;
	height: auto;
	
}
.bg-light{
	background-color: rgba(252,196,0,1.00);
}
.centrar{
	color:#FF8600;
}